# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon


# Xcode
build/
*.xcodeproj
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcuserdata/
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
/*.xcscmblueprint

# Swift Package Manager
.swiftpm/
.build/

# Build Artifacts
dist/
DerivedData/

# User-specific
xcuserdata/
.vscode/

# Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
